<br><br><br><br><br><br>
<div class="container">
<p>مرحبا <%= @resource.email %>!</p>

<p>طلب شخص ما رابطًا لتغيير كلمة مرورك. يمكنك القيام بذلك من خلال الرابط أدناه.</p>

<p><%= link_to 'تغيير كلمة المرور الخاصة بي', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>إذا لم تطلب هذا ، فيرجى تجاهل هذا البريد الإلكتروني.</p>
<p> لن تتغير كلمة المرور الخاصة بك حتى تقوم بالوصول إلى الرابط أعلاه وإنشاء كلمة مرور جديدة.</p>
</div>